{{ define "content" }}
<div class="container pt-6 pb-6 pl-6 pr-6">
        <div class="row mb-4 justify-content-between">
        <div class="col-auto">
            <h1>Main_title</h1> 
            
        </div>
        </div>
    


   <div class="card" >
    <h5 class="card-header">
        problem?id
    </h5>

  <div class="card-body">
    <h1 class="card-title">Main_title</h1></p>
    <h6 class="card-subtitle mb-2 text-muted">Author</h6></p>
    <p class="card-text">this is the main passage.</p>
  </div>
</div>
</div>
      <!-->
      {{ range $idx, $p := .list }}
    <tr>
      <th class="text-center" scope="row">{{$p.ID}}</th>
      <td><a href="/problem?id={{$p.ID}}">{{$p.Title}}</a></td>        need to be changed 
      <td class="text-center"><a href="/profile?id={{$p.Owner}}">{{$p.OwnerName}}</a></td>
      <td class="text-center">123</td>
      <td class="text-center">100</td>
    </tr>
    {{ end }}  <-->

<div class="container pt-5 pb-5 pl-6 pr-6">
        <div class="row mb-4 justify-content-between">
        <div class="col-auto">
   <div class="card" >
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Reply_author</h6>
    <p class="card-text">Here's other's reply.</p>
  </div>
</div>
</p>    

<div class="card" >
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</p>

  </tbody>
</table>

</div>

{{ end }}
