{{ define "content" }}

<form class="container pt-5 pb-4 pl-5 pr-5" method="post" action="{{ .post }}" enctype="multipart/form-data">
  <div class="row justify-content-between">
    <div class="col-auto">
      {{ if eq .post "/problem/create" }}
      <h2>Create Problem</h2>
      {{ else }}
      <h2>Edit Problem</h2>
      {{ end }}
    </div>
    <div class="col-auto">
      {{ if ne .post "/problem/create" }}
      <a role="button" href="/problem?id={{ .problem.ID }}" class="mr-2 btn btn-outline-primary">BACK</a>
      <a role="button" href="/problem/dataset?id={{ .problem.ID }}" class="mr-2 btn btn-outline-primary">UPLOAD</a>
      {{ else }}
      <a role="button" href="/" class="mr-2 btn btn-outline-primary">BACK</a>
      {{ end }}
      <button type="submit" class="btn btn-outline-primary">SAVE</button>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="bmd-label-floating">Title</label>
    <input type="text" class="form-control" name="title" value="{{ .problem.Title }}" />
  </div>
  <div class="form-group">
    <label for="name" class="bmd-label-floating">Description</label>
    <textarea class="form-control" name="desc" rows="20">{{ .problem.Desc }}</textarea>
  </div>
</form>

{{ end }}
